<tr>
    <td><%= csvRow["company_name"] %></td>
    <td><%= csvRow["projects"] %></td>
    <td><%= '%.2f' % csvRow["hrs_a"] %></td>
    <td><%= '%.2f' % csvRow["hrs_b"] %></td>
    <td><%= '%.2f' % csvRow["hrs_c"] %></td>
    <td><%= '%.2f' % csvRow["hrs_d"] %></td>
    <td><%= '%.2f' % csvRow["hrs"] %></td>
</tr>
